<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejs Practice</title>
  </head>
  <body style="background-color: black; color: white">
    <h1>Hello i am from EJS</h1>
    <marquee>
      <h1>Here is calculation <%= Math.floor(Math.random()*10) %></h1></marquee
    >
    <marquee> <h1>Double Random <%= number %></h1></marquee>

    <%if(number % 2 == 0){%>
    <h1>number is even</h1>
    <%}else{%>
    <h1>number is odd</h1>
    <%}%>
  </body>
</html>
