<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Todo</title>
  </head>
  <body style="background-color: black; color: white">

    <!-- <%= %> it is used for output and print data which is store in variable in js file
    <%%> it is used for write logic in ejs file and not use for output   -->

    <%for(let i of myTask){%>
    <h1><%=i%></h1>
    <%}%>
  </body> 
</html>
